.idea/
target/
classes/
git.properties
log42j.xml
log42j-test.xml
*.iml
*.ipr
dataset_xsd
preferences.xml
*.log
*.log.[0-9]
id_file
exporter.xml
.DS_Store
jboss.identity
*.releaseBackup
/.project
generated.ddl
application-dev.yml
application-dev.properties
*.lck

.java-version